body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;

}

/* Heading font-family */
h1 {
    font-family: Georgia, serif;
    text-align: center;
    margin-bottom: 30px;

}
p{

	text-align: center;
}

.menu{
	background-color: lightpink;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5%;
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: space-between;  
    width: 60%; 
	align-items: center;
}

.menu ul li{
	padding: 10px 30px;
	position: relative;
}

.menu ul li a{
	
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.menu ul li a:hover {
	color: #74CFED;
}

.menu ul li .dropdown{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: lightpink;
}

.menu ul li:hover .dropdown {
	display: block;
	

}
.menu ul li .dropdown li {
    display: block;
    padding: 10px 20px
    
}

@media all{
	body{
		background-color: lightblue;
	}
}

@media print{
	body{
		background-color: lightyellow;
	}
}

main{
	margin: 30px;
	text-align: center;
}


