*{
	padding: 0;
	margin: 0;
	font-family: monospace;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;

}

/* Heading font-family */
h1 {
    font-family: Georgia, serif;
    text-align: center;

}
p{
	text-align: center;
}
 ul{
	list-style: none;
	background: gray;
	position: relative;
	top: 2em;
    left: 1em;
    width: 10em

}

ul li{
	display: inline-block;
	position: relative;
}

ul li a{
	display: block;
	padding: 20px 25px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}
ul li ul.navbar li{
	display: block;
}
ul li ul.navbar{
	background: #22438C;
	width: 100%;
	position: absolute;
	z-index: 999;
	display: none;
}
ul li a:hover {
	background: #112C66;
}

ul li:hover ul.dropdown{
	display: block;
}